node_modules/

.DS_Store
.env
.env.local
.env.*.local
!*.env.example
*.log

.cursor
.cursorignore
.cursor/agents/
.cursor/rules/
.cursor/tools/
.cursor/workspace/
.git

#1.reveal
#2.purpose
#3.online
#4.ask
#5.praise
#6.teach
#7.sign
#8.endorse
#9.rescue
#10.hat
#11.grocery
#12.slab
.vscode
